{{> header title="UI Text"}}
{{> blocks/head }}
<div class="content">
  <div class="main-wrapp">
    <div class="content-wrapp">
      <b class="gray-text">h1</b>
      <h1>Заголовок company name</h1>

      <b class="gray-text">h2</b>
      <h2>Заголовок рыба company name</h2>

      <b class="gray-text">h3</b>
      <h3>Заголовок рыба company name</h3>

      <b class="gray-text">h4</b>
      <h4>Заголовок рыба company name</h4>

      <b class="gray-text">h5</b>
      <h5>Заголовок рыба company name</h5>

      <b class="gray-text">h6</b>
      <h6>Заголовок рыба company name</h6>

      <b class="gray-text">Список</b>
      <ul>
        <li><p>Список</p></li>
        <li>
          <p><b>Очень большое описание</b></p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam molestias praesentium, non incidunt ex doloribus ipsum voluptatem corrupti illum accusamus possimus iure necessitatibus autem temporibus voluptatum ab, deleniti facere corporis!</p>
        </li>
        <li>
          <p><a href="#">Ссылка</a></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fuga, iusto harum dicta impedit aliquid vero est ad facere rerum eligendi sunt quis repudiandae similique maxime? Omnis voluptatibus deleniti accusamus!</p>
        </li>
      </ul>

      <b class="gray-text">Текст</b>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dicta molestiae pariatur quo velit! Quibusdam vitae provident veniam porro consectetur debitis velit. Ipsam laboriosam molestiae esse? Odit similique eveniet alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit mollitia repudiandae tenetur ut amet ea ad eum. Numquam architecto, praesentium, itaque quae earum, iure accusamus sed veniam cumque fuga quia.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium vel maiores modi vitae neque veniam natus tempore? Ipsam dolores mollitia aperiam impedit quod amet omnis illum cum in dolorem.</p>

      <b class="gray-text">Mini Текст</b>
      <p class="text-mini">Я согласен(на) с условиями договора об использовании платформы и политикой обработки персональных данных</p>

      <b class="gray-text">Цитата</b>
    </div>

    {{> blocks/quote-block}}
  </div>
</div>
{{> footer }}
