{{> header title="404"}}
{{> blocks/head }}

<div class="content">
  <div class="main-wrapp">
    <div class="not-found-page">
      <div class="not-found-page__item">
        <h2>Станица не найдена</h2>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия. </p>
        <a href="/" class="btn btn--primary">На главную</a>
      </div>
      <div class="not-found-page__item">404</div>
    </div>
  </div>
</div>
{{> footer }}
