{{> header title="Каталог"}}
{{> blocks/head modstyle='head--white'}}
<div class="content">

  <div class="catalog-header">
    <div class="catalog-header__fon">
      <img
        srcset="
          {{indexDir}}/assets/img/content/magazine-photo.jpg 1600w,
          {{indexDir}}/assets/img/content/magazine-photo-1200.jpg 1200w,
          {{indexDir}}/assets/img/content/magazine-photo-900.jpg 900w,
          {{indexDir}}/assets/img/content/magazine-photo-600.jpg 600w,
        "
        src="{{indexDir}}/assets/img/content/magazine-photo.jpg"
        alt="title"
      >
    </div>
    <div class="main-wrapp">
      {{> blocks/b-filter}}

      <div class="catalog-header__btn-mobile">
        <button class="btn btn--white js-show-mobile-filter">Фильтр</button>
        {{> UI/select listItem=ui.filter.sortList modStyle="btn btn--white catalog-btn-filters select--no-border" iconName="filter" }}
      </div>
    </div>
  </div>

  <div class="main-wrapp">
    <div class="catalog-info">
      <div><b>Найдено: 422 записи</b></div>
      {{> UI/select defaultName="Сначала дешевле" listItem=ui.filter.sortList modStyle="select--no-border" iconName="filter" }}
    </div>

    <div class="catalog-items">
      {{> blocks/card-product }}
      {{> blocks/card-product }}
      {{> blocks/card-product }}
      {{> blocks/card-product }}
      {{> blocks/card-product }}
      {{> blocks/card-product }}

      {{> blocks/magazine-page-item modStyle="magazine-page-item--img catalog-banner" imgName="magazine-photo"}}

      {{> blocks/card-product }}
      {{> blocks/card-product }}
    </div>

    <div class="catalog-items-more">
      <button class="btn btn--40">Показать больше</button>
    </div>
  </div>

  {{> blocks/b-search-link-image-map }}

  <div class="main-wrapp">
    <div class="catalog-desc">
      <p>Для современного мира консультация с широким активом прекрасно подходит для реализации инновационных методов управления процессами.</p>
      <h3 class="catalog-desc__title">Цена вопроса не важна, когда в провинциях ещё есть чем поживиться</h3>
      <p>Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
      <ul>
        <li>
          <p><b>Обучение кадров - приоритетная задача</b></p>
          <p>Таким образом, курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации экспериментов, поражающих по своей масштабности и грандиозности.</p>
        </li>
        <li>
          <p><b>Обучение кадров</b></p>
          <p>Но разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение новых принципов формирования материально-технической и кадровой базы. И нет сомнений, что реплицированные с зарубежных источников, современные исследования набирают популярность среди определенных слоев населения, а значит, должны быть указаны как претенденты на роль ключевых факторов.</p>
        </li>
        <li>
          <p><b>Кадры</b></p>
          <p>Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Как принято считать, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу!</p>
        </li>
        <li>
          <p><b>Обучение кадров - приоритетная задача</b></p>
          <p>Идейные соображения высшего порядка, а также сплочённость команды профессионалов создаёт предпосылки для системы массового участия. Независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.</p>
        </li>
      </ul>
      <h3 class="catalog-desc__title">На что обратить внимание при выборе</h3>
      <p>Повседневная практика показывает, что современная методология разработки играет определяющее значение для стандартных подходов. Банальные, но неопровержимые выводы, а также диаграммы связей лишь добавляют фракционных разногласий и объявлены нарушающими общечеловеческие нормы этики и морали.</p>
      <ul>
        <li>
          <p><b>Обучение кадров - приоритетная задача</b></p>
          <p>Таким образом, курс на социально-ориентированный национальный проект влечет за собой процесс внедрения и модернизации экспериментов, поражающих по своей масштабности и грандиозности.</p>
        </li>
        <li>
          <p><b>Обучение кадров</b></p>
          <p>Но разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение новых принципов формирования материально-технической и кадровой базы. И нет сомнений, что реплицированные с зарубежных источников, современные исследования набирают популярность среди определенных слоев населения, а значит, должны быть указаны как претенденты на роль ключевых факторов.</p>
        </li>
        <li>
          <p><b>Кадры</b></p>
          <p>Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей, превозмогая сложившуюся непростую экономическую ситуацию, призваны к ответу. Как принято считать, тщательные исследования конкурентов призывают нас к новым свершениям, которые, в свою очередь, должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу!</p>
        </li>
        <li>
          <p><b>Обучение кадров - приоритетная задача</b></p>
          <p>Идейные соображения высшего порядка, а также сплочённость команды профессионалов создаёт предпосылки для системы массового участия. Независимые государства, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.</p>
        </li>
      </ul>
      <p>Выберите то что вам подходит.</p>
    </div>
  </div>
</div>
{{> footer }}
