<button type="button" class="btn btn--social btn--apple">
  {{> svg-icon name="social-apple"}}
</button>
<button type="button" class="btn btn--social btn--google">
  {{> svg-icon name="social-google"}}
</button>
<button type="button" class="btn btn--social btn--vk">
  {{> svg-icon name="social-vk"}}
</button>
<button type="button" class="btn btn--social btn--more">
  {{> svg-icon name="social-more"}}
</button>
