<div class="catalog-type-list">
  <h2 class="catalog-type-list__title">Разделы для <span class="primary-color">разных</span> специалистов</h2>
  <div class="catalog-type-list__wrapp">
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
    <div class="catalog-type-list-item">
      {{> svg-icon name="placeholder"}}
      <a href="#"><b>Глав. название</b></a>
      <a href="#">Ссылка 1</a>
      <a href="#">Ссылка 2</a>
      <a href="#">Ссылка 3</a>
    </div>
  </div>
  <div class="catalog-type-list__btn">
    <button type="button" class="btn btn--black">Показать все</button>
  </div>
</div>
