{{#> UI/checkbox idName=checkboxId checked='checked' }}
  <span class="text-mini">Я согласен(на) с условиями <a href="#">договора об использовании платформы</a> и <a href="#">политикой обработки персональных данных</a></span>
{{/UI/checkbox}}
