<footer class="footer">
  <div class="footer__wrapp">
    <div class="footer-menu">
      <div class="footer-menu__links">
        <div class="footer-menu__list">
          <div class="footer-menu__item">
            <a href="#">Каталог</a>
          </div>
          <div class="footer-menu__item">
            <a href="#">О нас</a>
          </div>
          <div class="footer-menu__item">
            <a href="#">Контакты</a>
          </div>
          <div class="footer-menu__item">
            <a href="#">Журнал</a>
          </div>
          <div class="footer-menu__item">
            <a href="#">Войти</a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-contacts">
      <div class="footer-contacts__item">
        <a href="tel:99999999">+7 999 999 99 99</a>
        <div class="text-mini">по вопросам сотрудничества</div>
      </div>
      <div class="footer-contacts__item">
        <a href="mailto:mail@sitename.ru">mail@sitename.ru</a>
        <div class="text-mini">вопросы и предложения</div>
      </div>
    </div>
  </div>

  <div class="footer__wrapp">
    <div class="footer__copyright">
      <span>2021 Все права защищены</span>
      <a href="#">Публичная оферта</a>
      <a href="#">Политика обработки персональных данных</a>
    </div>

    <div class="footer__social">
      <a href="#">
        {{> svg-icon name="social-facebook"}}
      </a>
      <a href="#">
        {{> svg-icon name="social-instagram"}}
      </a>
      <a href="#">
        {{> svg-icon name="social-vk"}}
      </a>
    </div>
  </div>
</footer>
