<div class="main-steps">
  <div class="main-steps-item is-active">
    <div class="main-steps-item__img">
      {{> svg-icon name="big-place-select-icon"}}
    </div>
    <div class="main-steps-item__info">
      <b>Выбор помещения</b>
      <div>Выберите город и тип помещений. При необходимости воспользуйтесь поиском по карте - это удобно.</div>
    </div>
  </div>

  <div class="main-steps-item">
    <div class="main-steps-item__img">
      {{> svg-icon name="big-card-pay"}}
    </div>
    <div class="main-steps-item__info">
      <b>Бронирование и оплата</b>
      <div>Выбранное помещение можно забронировать и оплатить онлайн. Либо по телефону локации с оплатой на месте.</div>
    </div>
  </div>

  <div class="main-steps-item">
    <div class="main-steps-item__img">
      {{> svg-icon name="big-notification-icon"}}
    </div>
    <div class="main-steps-item__info">
      <b>Использование</b>
      <div>После оплаты картой на нашем сайте вам придет уведомление с подтверждением бронирования помещения.</div>
    </div>
  </div>
</div>
