<div class="main-page__partners-info">
  <div class="main-page-partners-link">
    <div class="main-page-partners-link__desc">
      <h2>Спонсорам</h2>
      <p>Сложно сказать, почему многие известные личности набирают популярность среди определенных слоев населения.</p>
      <a href="#" class="btn btn--primary">Подключиться</a>
    </div>
  </div>

  <div class="main-page-partners-info">
    <div class="main-page-partners-info__item">
      {{> svg-icon name="003-sms"}}
      <p><b>Выбор значения</b></p>
      <p>Кстати, сторонники тоталитаризма в науке набирают популярность среди определенных слоев населения.</p>
    </div>
    <div class="main-page-partners-info__item">
      {{> svg-icon name="contract"}}
      <p><b>Выбор значения</b></p>
      <p>Кстати, сторонники тоталитаризма в науке набирают популярность среди определенных слоев населения.</p>
    </div>
    <div class="main-page-partners-info__item">
      {{> svg-icon name="eye-icon"}}
      <p><b>Выбор значения</b></p>
      <p>Кстати, сторонники тоталитаризма в науке набирают популярность среди определенных слоев населения.</p>
    </div>
  </div>
</div>
