<div class="quote-block {{modStyle}}">
  <div class="content-wrapp">
    „Мастерство приходит только с практикой и не может появиться лишь в ходе чтения инструкций.“ <b>Наполеон Хилл</b> американский журналист, писатель и психолог успеха 1883 - 1970
  </div>
</div>
