<div class="room-slider-interested">
  <div class="main-wrapp js-slide-interested">
    <div class="swiper-wrapper">
      <div class="swiper-slide room-slider-interested__slide">
        {{> blocks/card-product }}
      </div>
      <div class="swiper-slide room-slider-interested__slide">
        {{> blocks/card-product }}
      </div>
      <div class="swiper-slide room-slider-interested__slide">
        {{> blocks/card-product }}
      </div>
      <div class="swiper-slide room-slider-interested__slide">
        {{> blocks/card-product }}
      </div>
      <div class="swiper-slide room-slider-interested__slide">
        {{> blocks/card-product }}
      </div>
    </div>
  </div>
</div>
