<div class="room-slider-description js-room-slide-description {{modStyle}}">
  <h3 class="room-slider-description__title">Заголовок товара</h3>
  <span class="room-slider-description__item">12 см2 <span>до 8 дущ</span></span>
  <p class="room-slider-description__item">Прототип нового сервиса - это как ласковый перезвон вертикали власти</p>
  <h3 class="room-slider-description__price">от 500р</h3>
  <button type="button" class="btn btn--primary room-slider-description__btn-phone">Оформить заказ</button>
  <button type="button" class="btn btn--black btn--icon">
    {{> svg-icon name="like"}}
  </button>
</div>
