.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-primary);

  svg {
    height: 58px;
    width: 58px;
  }

  span {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}
