{{> header title="Index page"}}
{{> blocks/head }}
<div class="content">
  <div class="main-wrapp">
    <div style="margin: 20px">
      <h1>Страницы</h1>
      <ul>
        <li>
          <a href="{{indexDir}}/ui/icons.html">
            Иконки
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/ui/ui.html">
            UI
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/ui/ui-text.html">
            UI Text
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/ui/head-and-footer.html">
            Фильтр, формы с вопросом, авториз. шапка и прочие блоки
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/ui/modals.html">
            Модальные окна
          </a>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <a href="{{indexDir}}/pages/main.html">
            Главная
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/404.html">
            404
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/contacts.html">
            Контакты
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/about.html">
            О нас
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/magazine.html">
            Журнал
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/article.html">
            Статья
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/catalog.html">
            Каталог
          </a>
        </li>
        <li>
          <a href="{{indexDir}}/pages/detail-card.html">
            Детальная страница
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{> footer }}
